html{
   scroll-snap-type: y mandatory;
   background-color:black;
}

.app{
   display:grid;
   place-items:center;
   height:100vh;
 }
.app_logo{
   height: 12vh;
}
/* .app_top{
   margin-bottom:-150px;
} */
.app_top > h1{
  color:white;
}
.app_videos{
   position:relative;
   height:70vh;
   background-color:white;
   width:70%;
   border-radius:20px;
   max-width:450px;
   max-height:1200px;
   overflow:scroll;
   scroll-snap-type:y mandatory;
}

/* Hide scrollbar for chrome,safari and opera */
.app_videos::-webkit-scrollbar {
   display:none;
}
/* Hide scrollbar for IE, Edge, Firefox */
.app_videos{
   -ms-overflow-style:none;
   scrollbar-width:none;
}