.videoFooter{
    position:relative;
    margin-left:20px;
    bottom:100px;
}
.videoFooter_text{
    position:absolute;
    bottom:0;
    color:white;
    display:flex;
    margin-bottom:20px;
}

.videoFooter_text > h3{
    margin-left:10px;
    padding-bottom: 20px;
}

.videoFooter_text > h3 > button{
    color:white;
    font-weight: 900;
    text-transform: inherit;
}

.videoFooter_actions{
    display:flex;
    position: absolute;
    width: 95%;
    color:white;
    justify-content: space-between;
}

.videoFooter_actionsRight{
    display: flex;
}

.videoFooter_stat{
    display: flex;
    align-items: center;
    margin-left:10px;
}

.videoFooter_stat > p{
    margin-left: 3px;
}

.videoFooter_ticker > .ticker {
   height: fit-content;
   margin-left: 30px;
   margin-bottom: 30px;
   width: 60%;
   z-index: 1;
}

.videoFooter_icon {  
    position: absolute;
    left:5px;
    color:white;
}


.videoFooter_ticker h1{
    padding-top: 7px;
    font-size: 12px;
    color:white;
}

